<!DOCTYPE html>
<html ng-app="sabreHack">
    <head>
        <title>SabreHack</title>
        <script src="../bower_components/angular/angular.js"></script>
        <script src="./app.js"></script>
        <link rel="stylesheet" href="https://bootswatch.com/yeti/bootstrap.css">
    </head>
    <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">GypsyFeet - Tour Operator Portal   </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Manage your apps</a></li>
                <li><a href="#">View all bookings</a></li>
                <li><a href="#">App analytics</a></li>

            </ul>
        </div>
    </nav>
        <div class="container" ng-controller="mainCtrl">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="well" ng-hide="logged_in">
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" ng-model="user.username" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" ng-model="user.password" placeholder="Password">
                            </div>
                            <button class="btn btn-warning" ng-click="submit()">Submit</button>
                            </form>
                    </div>
                    <div ng-show="logged_in">
                        <form>
                        <h3><span class="label label-default">Create a new travel app</span></h3>

                        <div class="well">
                            <div class="form-group">
                                <label for="exampleInputEmail1">App title</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" ng-model="app.basics.title" placeholder="Title">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">App description</label>
                                <textarea type="text" class="form-control" id="exampleInputEmail1" ng-model="app.details.description" placeholder="Description of app"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">App type</label>
                                <select class="form-control" ng-model="app.basics.type">
                                    <option value="trip">Trip</option>
                                    <option value="activity">Activity</option>
                                    <option value="list">List</option>
                                </select>
                            </div>
                        </div>
                        <div class="well" ng-show="app.basics.type">

                            <div ng-show="app.basics.type==='trip'">
                                <div class="form-group">
                                    <label for="exampleInputEmail1"># of days</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" ng-model="app.basics.days" placeholder="# of days">
                                </div>
                            </div>
                            <div ng-show="app.basics.type==='activity'">
                                <div class="form-group">
                                    <label for="exampleInputEmail1"># of hours</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" ng-model="app.basics.hours" placeholder="# of hours">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Tags <small>Comma separated</small></label>
                                <input type="text" class="form-control" id="exampleInputEmail1" ng-model="app.basics.tags" ng-list placeholder="Description of app">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Categories <small>Comma separated</small></label>
                                <input type="text" class="form-control" id="exampleInputEmail1" ng-model="app.basics.categories" ng-list placeholder="Description of app">
                            </div>
                        </div>

                        <div class="well">
                            <strong>Itinerary</strong>
                            <div ng-repeat="i in app.details.itinerary">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Day number</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" ng-model="app.details.itinerary[$index].day_num" placeholder="Day number">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Details</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" ng-model="app.details.itinerary[$index].details" placeholder="Details">
                                </div>
                                <button class="btn btn-link btn-sm" ng-click="removeStep($index)">Remove</button>
                                <hr/>
                            </div>
                            <button class="btn btn-link btn-sm" ng-click="addStep()">Add itinerary step</button>

                        </div>
                            <div class="well">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Flight from </label>
                                    <select class="form-control" ng-model="app.details.flights[0].from" ng-options="city for city in cities">

                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Flight to </label>
                                    <select class="form-control" ng-model="app.details.flights[0].to" ng-options="city for city in cities">

                                    </select>
                                </div>
                                <hr/>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Hotels </label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" ng-model="app.details.hotels" placeholder="Hotels">
                                </div>
                                <hr/>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Events </label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" ng-model="app.details.events" placeholder="Events">
                                </div>
                            </div>
                        <button class="btn btn-warning" ng-click="saveapp()">Publish</button>
                        </form>
                        <div>{{app|json}}</div>

                        <div class="text-success" ng-show="saved.status">Successfully saved the app!</div>
                        <div class="text-danger"  ng-show="saved.error">Error saving the app</div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>

        </div>
    </body>
</html>